body{
    padding-top:80px;
    word-wrap:break-word;
    font-family: 'Dosis', sans-serif;  
    background: linear-gradient(rgb(21, 168, 205), rgb(15, 138, 195), rgb(12, 102, 175));
    background-size: cover;
  }
  html{
    height: 100%;
  }
  
  img{
    height: 200px;
  }
  
  h1, h2 ,h3{
    font-family: 'Dosis', sans-serif;
  }
  
  th, td{
    text-align: center;
    padding: 10px;
    
  }
  
  td{
    border: 2px solid black;
  }

  h1{
    text-shadow: 2px 2px 2px white;
    padding: 20px;
  }